body {
  background-color: #f6f6f6;
}

.selectedDetails {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.signinScreen {
  display: flex !important;
  flex-direction: column;

  height: 100vh;
  width: 100vw !important;

  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #f6f6f6;
}

.statisticsBar {
  display: flex;
}

.displayBlock {
  display: block;
}

.paddedGeneral {
  margin: 20px 20px 20px 20px !important;
}

.marginless {
  margin: 0 0 0 0 !important;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.ui.center.aligned.container.paddedGeneral {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.railRightButton {
  width: auto !important;
  heigh: auto !important;
  margin: 14px 10px 14px 10px !important;
}

.topbar {
  background-color: white;
  border-bottom: 1px solid grey;
  overflow: auto;
  padding: 0.5em;
}

.topbar:after {
  content: "";
  float: clear;
}
.leftmenubar {
  display: block-inline;
  float: left;
}

.rightmenubar {
  display: block-inline;
  float: right;
}
.durationvalue {
  font-size: 2em;
}
.ui.statistics {
  justify-content: center;
  margin: unset;
}
.todo {
  padding-left: 0.5em;
}
.editablefield {
  width: 100%;
}

.top-menu {
  border-radius: 0px !important;
}
.menu {
  padding-left: 0px;
}
.header-name {
  flex: 1 !important;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.left-padded {
  padding-left : 2em !important;
}
.notice {
  text-align: center;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.noticecontent {
  text-align: left;
  display: inline-block;
  max-width: 50em;
}
.todosectionheader {
  margin-top: 1rem !important;
  margin-bottom: 0px !important;
}
.clickable {
  cursor: pointer;
}

.urgencyboxes {
  fill: rgb(255,255,255);
  stroke-width: 1;
  stroke: rgb(0,0,0);
}
.dosoonbox {
  fill: #21ba45 !important;
}

.dolaterbox {
  fill: #a333c8 !important;
}
.dotodaybox {
  fill: #f2711c !important;
}
.donebox {
  fill: #555555 !important;
}
.urgencynotice {
  text-align: left;
}
