body {
  background-color: #f6f6f6;
}

.selectedDetails {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.signinScreen {
  display: flex !important;
  flex-direction: column;

  height: 100vh;
  width: 100vw !important;

  justify-content: center;
  align-self: center;
  align-items: center;
  background-color: #f6f6f6;
}

.statisticsBar {
  display: flex;
}

.displayBlock {
  display: block;
}

.paddedGeneral {
  margin: 20px 20px 20px 20px !important;
}

.marginless {
  margin: 0 0 0 0 !important;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.ui.center.aligned.container.paddedGeneral {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.railRightButton {
  width: auto !important;
  heigh: auto !important;
  margin: 14px 10px 14px 10px !important;
}

.topbar {
  background-color: white;
  border-bottom: 1px solid grey;
  overflow: auto;
  padding: 0.5em;
}

.topbar:after {
  content: "";
  float: clear;
}
.leftmenubar {
  display: block-inline;
  float: left;
}

.rightmenubar {
  display: block-inline;
  float: right;
}
.durationvalue {
  font-size: 2em;
}
.ui.statistics {
  justify-content: center;
  margin: unset;
}
.todo {
  padding-left: 0.5em;
}
.editablefield {
  width: 100%;
}

.top-menu {
  border-radius: 0px !important;
}
.menu {
  padding-left: 0px;
}
.header-name {
  flex: 1 !important;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.left-padded {
  padding-left : 2em !important;
}
