.selectedDetails {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid #aaa;
  text-align: center;
  box-shadow: 0px 0px 2px 2px #ddd;
}

.selectedDetails .stattitle {
  font-weight: bold;
}

.statisticsBar {
  display: flex;
}

// TODO actually find and change this class' name to better suit it's contents
.paddedGeneral {
  margin: 20px 20px 20px 20px !important;
}

.marginless {
  margin: 0 0 0 0 !important;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.ui.center.aligned.container.paddedGeneral {
  background-color: #fff;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}
